body {
    font-size: 4vmin;
}

.unhide {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.card {
    padding: auto 5px auto 5px;
    margin-bottom: 50px;
}

form label {
    margin: auto 15px auto 15px;
}

form input {
    margin: auto 5px auto 5px;
}
